apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 5s

    rule_files:
      - /etc/prometheus/alerts/*.yml

    scrape_configs:
      - job_name: 'devops-platform-app'
        static_configs:
          - targets: ['devops-platform-service:80']
